---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/12118557/repos?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 5987bf9db98bf0a408d62c4c6947fe371b605460
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7eac7c5fc26b2892317f1c7cc78cb994"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/12118557/repos?page=1>; rel="prev", <https://api.github.com/user/12118557/repos?page=1>;
        rel="first"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1598973174'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":213519264,"node_id":"MDEwOlJlcG9zaXRvcnkyMTM1MTkyNjQ=","name":"OpenFarm","full_name":"gustavoneiva/OpenFarm","private":false,"owner":{"login":"gustavoneiva","id":12118557,"node_id":"MDQ6VXNlcjEyMTE4NTU3","avatar_url":"https://avatars2.githubusercontent.com/u/12118557?v=4","gravatar_id":"","url":"https://api.github.com/users/gustavoneiva","html_url":"https://github.com/gustavoneiva","followers_url":"https://api.github.com/users/gustavoneiva/followers","following_url":"https://api.github.com/users/gustavoneiva/following{/other_user}","gists_url":"https://api.github.com/users/gustavoneiva/gists{/gist_id}","starred_url":"https://api.github.com/users/gustavoneiva/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gustavoneiva/subscriptions","organizations_url":"https://api.github.com/users/gustavoneiva/orgs","repos_url":"https://api.github.com/users/gustavoneiva/repos","events_url":"https://api.github.com/users/gustavoneiva/events{/privacy}","received_events_url":"https://api.github.com/users/gustavoneiva/received_events","type":"User","site_admin":false},"html_url":"https://github.com/gustavoneiva/OpenFarm","description":"A
        free and open database for farming and gardening knowledge. You can grow anything!","fork":true,"url":"https://api.github.com/repos/gustavoneiva/OpenFarm","forks_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/forks","keys_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/teams","hooks_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/hooks","issue_events_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/issues/events{/number}","events_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/events","assignees_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/assignees{/user}","branches_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/branches{/branch}","tags_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/tags","blobs_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/git/refs{/sha}","trees_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/statuses/{sha}","languages_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/languages","stargazers_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/stargazers","contributors_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/contributors","subscribers_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/subscribers","subscription_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/subscription","commits_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/commits{/sha}","git_commits_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/git/commits{/sha}","comments_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/comments{/number}","issue_comment_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/issues/comments{/number}","contents_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/contents/{+path}","compare_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/merges","archive_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/downloads","issues_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/issues{/number}","pulls_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/pulls{/number}","milestones_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/milestones{/number}","notifications_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/labels{/name}","releases_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/releases{/id}","deployments_url":"https://api.github.com/repos/gustavoneiva/OpenFarm/deployments","created_at":"2019-10-08T01:15:02Z","updated_at":"2019-10-08T01:15:03Z","pushed_at":"2019-10-07T19:02:32Z","git_url":"git://github.com/gustavoneiva/OpenFarm.git","ssh_url":"git@github.com:gustavoneiva/OpenFarm.git","clone_url":"https://github.com/gustavoneiva/OpenFarm.git","svn_url":"https://github.com/gustavoneiva/OpenFarm","homepage":"https://OpenFarm.cc","size":79448,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":121787227,"node_id":"MDEwOlJlcG9zaXRvcnkxMjE3ODcyMjc=","name":"openfoodnetwork","full_name":"gustavoneiva/openfoodnetwork","private":false,"owner":{"login":"gustavoneiva","id":12118557,"node_id":"MDQ6VXNlcjEyMTE4NTU3","avatar_url":"https://avatars2.githubusercontent.com/u/12118557?v=4","gravatar_id":"","url":"https://api.github.com/users/gustavoneiva","html_url":"https://github.com/gustavoneiva","followers_url":"https://api.github.com/users/gustavoneiva/followers","following_url":"h[...]
