---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/repositories?order=desc&page=2&per_page=10&q=tetris%2Blanguage:ruby&sort=stars
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 5987bf9db98bf0a408d62c4c6947fe371b605460
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/search/repositories?q=tetris%2Blanguage%3Aruby&sort=stars&order=desc&page=1&per_page=10>;
        rel="prev", <https://api.github.com/search/repositories?q=tetris%2Blanguage%3Aruby&sort=stars&order=desc&page=3&per_page=10>;
        rel="next", <https://api.github.com/search/repositories?q=tetris%2Blanguage%3Aruby&sort=stars&order=desc&page=12&per_page=10>;
        rel="last", <https://api.github.com/search/repositories?q=tetris%2Blanguage%3Aruby&sort=stars&order=desc&page=1&per_page=10>;
        rel="first"
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1598972983'
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":117,"incomplete_results":false,"items":[{"id":516866,"node_id":"MDEwOlJlcG9zaXRvcnk1MTY4NjY=","name":"tetris","full_name":"phorsfall/tetris","private":false,"owner":{"login":"phorsfall","id":15164,"node_id":"MDQ6VXNlcjE1MTY0","avatar_url":"https://avatars0.githubusercontent.com/u/15164?v=4","gravatar_id":"","url":"https://api.github.com/users/phorsfall","html_url":"https://github.com/phorsfall","followers_url":"https://api.github.com/users/phorsfall/followers","following_url":"https://api.github.com/users/phorsfall/following{/other_user}","gists_url":"https://api.github.com/users/phorsfall/gists{/gist_id}","starred_url":"https://api.github.com/users/phorsfall/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/phorsfall/subscriptions","organizations_url":"https://api.github.com/users/phorsfall/orgs","repos_url":"https://api.github.com/users/phorsfall/repos","events_url":"https://api.github.com/users/phorsfall/events{/privacy}","received_events_url":"https://api.github.com/users/phorsfall/received_events","type":"User","site_admin":false},"html_url":"https://github.com/phorsfall/tetris","description":"Tetris
        Clone in Ruby/Gosu","fork":false,"url":"https://api.github.com/repos/phorsfall/tetris","forks_url":"https://api.github.com/repos/phorsfall/tetris/forks","keys_url":"https://api.github.com/repos/phorsfall/tetris/keys{/key_id}","collaborators_url":"https://api.github.com/repos/phorsfall/tetris/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/phorsfall/tetris/teams","hooks_url":"https://api.github.com/repos/phorsfall/tetris/hooks","issue_events_url":"https://api.github.com/repos/phorsfall/tetris/issues/events{/number}","events_url":"https://api.github.com/repos/phorsfall/tetris/events","assignees_url":"https://api.github.com/repos/phorsfall/tetris/assignees{/user}","branches_url":"https://api.github.com/repos/phorsfall/tetris/branches{/branch}","tags_url":"https://api.github.com/repos/phorsfall/tetris/tags","blobs_url":"https://api.github.com/repos/phorsfall/tetris/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/phorsfall/tetris/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/phorsfall/tetris/git/refs{/sha}","trees_url":"https://api.github.com/repos/phorsfall/tetris/git/trees{/sha}","statuses_url":"https://api.github.com/repos/phorsfall/tetris/statuses/{sha}","languages_url":"https://api.github.com/repos/phorsfall/tetris/languages","stargazers_url":"https://api.github.com/repos/phorsfall/tetris/stargazers","contributors_url":"https://api.github.com/repos/phorsfall/tetris/contributors","subscribers_url":"https://api.github.com/repos/phorsfall/tetris/subscribers","subscription_url":"https://api.github.com/repos/phorsfall/tetris/subscription","commits_url":"https://api.github.com/repos/phorsfall/tetris/commits{/sha}","git_commits_url":"https://api.github.com/repos/phorsfall/tetris/git/commits{/sha}","comments_url":"https://api.github.com/repos/phorsfall/tetris/comments{/number}","issue_comment_url":"https://api.github.com/repos/phorsfall/tetris/issues/comments{/number}","contents_url":"https://api.github.com/repos/phorsfall/tetris/contents/{+path}","compare_url":"https://api.github.com/repos/phorsfall/tetris/compare/{base}...{head}","merges_url":"https://api.github.com/repos/phorsfall/tetris/merges","archive_url":"https://api.github.com/repos/phorsfall/tetris/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/phorsfall/tetris/downloads","issues_url":"https://api.github.com/repos/phorsfall/tetris/issues{/number}","pulls_url":"https://api.github.com/repos/phorsfall/tetris/pulls{/number}","milestones_url":"https://api.github.com/repos/phorsfall/tetris/milestones{/number}","notifications_url":"https://api.github.com/repos/phorsfall/tetris/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/phorsfall/tetris/labels{/name}","releases_url":"https://api.github.com/repos/phorsfall/tetris/releases{/id}","deployments_url":"https://api.github.com/repos/phorsfall/tetris/deployments","created_at":"2010-02-13T20:36:39Z","updated_at":"2017-04-07T16:01:35Z","pushed_at":"2017-04-07T17:57:52Z","git_url":"git://github.com/phorsfall/tetris.git","ssh_url":"git@github.com:phorsfall/tetris.git","clone_url":"https://github.com/phorsfall/tetris.git","svn_url":"https://github.com/phorsfall/tetris","homepage":"","size":312,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"forks":1,"open_issues":1,"watchers":2,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"score":1.0},{"id":1291827,"node_id":"MDEwOlJlcG9zaXRvcnkxMjkxODI3","name":"tetris-api","full_name":"eteubert/tetris-api","private":false,"owner":{"login":"eteubert","id":235918,"node_id":"MDQ6VXNlcjIzNTkxOA==","avatar_url":"https://avatars0.githubusercontent.com/u/235918?v=4","gravatar_id":"","url":"https://api.github.com/users/eteubert","html_url":"https://github.com/eteubert","followers_url":"https://api.github.com/users/eteubert/followers","following_url":"https://api.github.com/users/eteubert/follo[...]
